@import 'https://fonts.googleapis.com/css?family=Domine:700|Montserrat:400,700|Open+Sans:400,700';
body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #9aa0ab;
}

header {
  width: 100%;
  min-height: 1059px;
  background: url("../img/header-bg.png") no-repeat top center;
}

.slogan .jumbotron {
  background-color: transparent;
  padding: 0;
  margin: 254px 0 0 0;
}

.slogan .jumbotron h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 53px;
  color: #314a5b;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  font-weight: bold;
}

.slogan .jumbotron h5 span {
  color: #fa5c65;
}

.slogan .jumbotron p {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  line-height: 40px;
  color: #314a5b;
  letter-spacing: -0.5px;
}

.slogan .jumbotron .btn-lg {
  margin-top: 17px;
  padding: 20px 42px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: normal;
  color: #fff;
  background-color: #fa5c65;
  border-color: transparent;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-weight: bold;
}

.navbar {
  border: none;
}

.navbar .container .navbar-brand {
  width: 140px;
  height: 74px;
  margin-left: 0px;
  padding: 41px 0px 0px 13px;
  background-color: #fa5c65;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  font-family: "Domine", serif;
  font-size: 20px;
  line-height: normal;
  color: #fff;
  font-weight: bold;
}

.navbar .container .navbar-brand span {
  color: #314a5b;
}

.navbar .container .social-mobile {
  list-style: none;
  display: inline-block;
}

.navbar .container .social-mobile li {
  min-height: 0px;
  min-width: 0px;
}

.navbar .container .social-mobile li .twitter {
  width: 20px;
  height: 18px;
  position: absolute;
  top: 25px;
  right: 103px;
  background-image: url("../img/twitter-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.navbar .container .social-mobile li .facebook {
  width: 20px;
  height: 18px;
  position: absolute;
  top: 25px;
  right: 65px;
  background-image: url("../img/facebook-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.navbar .container .navbar-toggle {
  margin-top: 16px;
}

.navbar .container .navbar-toggle .icon-bar {
  height: 3px;
  background-color: #fa5c65;
}

.navbar .container .navbar-right {
  position: relative;
}

.navbar li {
  min-height: 75px;
  min-width: 20px;
}

.navbar li.last-li {
  padding-right: 29px;
}

.navbar li a {
  text-transform: uppercase;
  padding: 15px 18px 15px 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 35px;
  color: #263742;
}

.navbar li a.twitter {
  width: 20px;
  height: 18px;
  position: absolute;
  top: 25px;
  right: 13px;
  background-image: url("../img/twitter-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
}

.navbar li a.facebook {
  width: 20px;
  height: 18px;
  position: absolute;
  top: 25px;
  right: -5px;
  background-image: url("../img/facebook-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
}

.navbar li a:focus, .navbar li a:hover {
  background-color: transparent;
}

section .row > div {
  padding: 0px 10px;
}

section .row > div:first-child {
  padding: 0px 15px;
}

section h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #465065;
  text-transform: uppercase;
  font-weight: bold;
}

section h3 span {
  color: #f0454c;
}

section p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #9aa0ab;
  padding-top: 8px;
  margin-bottom: 20px;
  padding-right: 10%;
}

section a {
  position: relative;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #f0454c;
}

section a:hover, section a:active, section a:focus {
  color: #f0454c;
  text-decoration: none;
  font-weight: bold;
}

section a:hover.more:after, section a:active.more:after, section a:focus.more:after {
  width: 17px;
  right: -24px;
  background-size: 17px 9px;
  -webkit-transition: width .8;
  transition: width .8;
}

section a.more:after {
  content: '';
  width: 12px;
  height: 9px;
  position: absolute;
  bottom: 4px;
  right: -19px;
  background-image: url("../img/arrow-icon.png");
  background-repeat: no-repeat;
}

section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 26px;
  color: #314a5b;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  margin: 14px 0 20px 0;
}

section h2 span {
  color: #f0454c;
}

section h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #314a5b;
  margin-bottom: 16px;
}

.advantages {
  margin-top: 60px;
}

.portfolio {
  margin-top: 103px;
}

.portfolio p:first-of-type {
  margin-bottom: 14px;
}

.portfolio p:last-of-type {
  margin-bottom: 35px;
}

.our-team {
  margin-top: 102px;
}

.our-team .container {
  padding-bottom: 58px;
  border-bottom: 1px solid #e6eaed;
}

.our-team .row > div {
  margin-top: 36px;
}

.our-team .team-player {
  padding: 0px 5px;
}

.our-team .team-player:first-of-type {
  padding: 0px 10px;
}

.our-team h2 {
  font-size: 32px;
  letter-spacing: -1px;
  margin: 0 0 14px 15px;
}

.our-team h4 {
  margin: 0 0 0 15px;
}

.our-team .media-body {
  padding-top: 7px;
}

.our-team .media-left, .our-team .media > .pull-left {
  padding-right: 18px;
}

.our-team .name {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: normal;
  color: #314a5b;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.our-team .position {
  font-style: 14px;
  line-height: normal;
  color: #f0454c;
  padding-top: 0;
  margin: 0;
}

.our-team .about {
  font-style: 14px;
  line-height: 20px;
  color: #9aa0ab;
}

.our-team .more {
  float: right;
  margin: 19px 35px 0 0;
}

footer {
  padding-top: 30px;
}

footer ul {
  position: relative;
}

footer li {
  display: inline-block;
}

footer .icon:before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

footer .icon.twitter:before {
  width: 20px;
  height: 16px;
  top: 4px;
  left: 2px;
  background-image: url(../img/twitter-f-icon.png);
}

footer .icon.instagram:before {
  width: 18px;
  height: 18px;
  top: 3px;
  left: 44px;
  background-image: url(../img/instagram-icon.png);
}

footer .icon.facebook:before {
  width: 18px;
  height: 18px;
  top: 3px;
  left: 80px;
  background-image: url(../img/facebook-f-icon.png);
}

footer .icon.googlepl:before {
  width: 18px;
  height: 18px;
  top: 3px;
  left: 116px;
  background-image: url(../img/googlepl-icon.png);
}

footer p {
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #b9c0c6;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    background-position: 75% 0%;
    min-height: 820px;
  }
  .navbar-nav {
    margin: 0px -15px;
  }
  .navbar .container .navbar-brand {
    margin-left: 10px;
  }
  #responsive-menu {
    text-align: right;
  }
  #responsive-menu ul {
    background: rgba(230, 234, 237, 0.7);
  }
  #responsive-menu ul li.last-li {
    padding-right: 0px;
  }
  .slogan {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0px;
  }
  .slogan .jumbotron {
    margin: 0;
  }
  section h2 {
    margin-top: 85px;
  }
  footer p {
    text-align: left;
  }
}
