@import "bourbon";
@import 'https://fonts.googleapis.com/css?family=Domine:700|Montserrat:400,700|Open+Sans:400,700';

//Colors
$first-color: #fa5c65
$second-color: #465065
$third: #f0454c
$dark-color: #314a5b
$font-color: #9aa0ab
$menu-color: #263742

//Fonts
$em-base: 15px
$logo-font-family: 'Domine', serif
$decoration-font: 'Montserrat', sans-serif
$main-font: 'Open Sans', sans-serif

//Mixins
@mixin fontAttr($family, $size, $lineHeight, $color)
	font-family: $family
	font-size: $size
	line-height: $lineHeight
	color: $color

@mixin icons($icon-img, $top, $right)
	width: 20px
	height: 18px
	position: absolute
	top: $top
	right: $right
	background-image: url('../img/#{$icon-img}.png')
	background-repeat: no-repeat
	background-position: center

//Styles

body
	+fontAttr($main-font, $em-base, 22px, $font-color)


// Header

.navbar
	border: none;
	.container
		.navbar-brand
			width: 140px
			height: 74px
			margin-left: 0px
			padding: 41px 0px 0px 13px
			background-color: $first-color
			border-radius: 0 0 7px 7px
			+fontAttr($logo-font-family, 20px, normal, #fff)
			font-weight: bold
			span
				color: $dark-color
		.navbar-toggle
			.icon-bar
				height: 4px
				background-color: $first-color
		.navbar-right
			position: relative
	li
		min-height: 75px
		min-width: 20px
		&.last-li
			padding-right: 45px
		a
			text-transform: uppercase
			padding: 15px 18px 15px 22px
			+fontAttr($decoration-font, 14px, 35px, $menu-color)
			&.twitter
				+icons(twitter-icon, 19px, 18px)
			&.facebook
				+icons(facebook-icon, 19px, 0px)
			&:focus, &:hover
				background-color: transparent
