@import "bourbon";

//Colors
$first-color: #fa5c65
$second-color: #465065
$third: #f0454c
$font-color: #9aa0ab

//Fonts
$em-base: 15px
$logo-font-family: "Domine", Courier New, Courier New, Courier, monospace
$decoration-font: "Montserrat", Lucida Console, Monaco, monospace
$main-font: "Open Sans", Arial, Arial, Helvetica, sans-serif

//Add fonts
+font-face("Domine", "../fonts/DomineBold", bold, $file-formats: eot ttf woff woff2 svg)
+font-face("Montserrat", "../fonts/MontserratRegular", $file-formats: eot ttf woff woff2 svg)
+font-face("Montserat", "../fonts/MontseratBold", bold, $file-formats: eot ttf woff woff2 svg)
+font-face("Open Sans", "../fonts/OpenSansRegular", $file-formats: eot ttf woff woff2 svg)
+font-face("Open Sans", "../fonts/OpenSansBold", bold, $file-formats: eot ttf woff woff2 svg)